body{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}
.big-div{
    width: 500px;
}

.buttons-div{
    display: flex;
    flex-direction: row;
    width: 500px;
}
#cancel-btn, #edit-btn, #delete-btn{
    margin-right: 3px;
}
.tags-list{
    display: inline-block;
    font-weight: bold;
}
a{
    background-color: rgb(74, 127, 244);
    color: white;
    text-decoration: none;
    font-weight: 800;
    border-style: none;
    border-radius: 4px;
    padding: 2px 6px;
    margin-left: 6px;
}